    <!-- footer  -->
    <footer class="row m-0  p-3 text-bg-secondary">
        <div class="text-center">
          <h2>Follow Us On</h2>
        </div>
        <div class=" text-white text-center">
          <a href="#" target="_blank"><i style="color: white;" class="fab fa-2x fa-facebook p-1 me-1"></i></a>
          <a href="#" target="_blank"><i style="color: white;" class="fab fa-2x fa-twitter p-1 me-1"></i></a>
          <a href="#" target="_blank"><i style="color: white;" class="fab fa-2x fa-instagram p-1 me-1"></i></a>
          <a href="#" target="_blank"><i style="color: white;" class="fab fa-2x fa-linkedin p-1 me-1"></i></a>
        </div>
    
      </footer>